 body{
    background-color:#FEF9E7; 
    font-family: 'Ma Shan Zheng', cursive;

} 
#content {
    font-family:'Nunito', sans-serif;
    font-size: 1.5em;
}

#mynavi {
    font-family: 'Balsamiq Sans', cursive;
}
#new{
    font-family: 'Nunito', sans-serif;
}

.nav-link-active:hover {
    color:red;

}

#myname:hover{
    color:red;
}

li{
    
    display:flex;
    justify-content:flex-end;
}